@model Order
    <div class="row orderForm">

        <div class="row checkoutForm">
            <h2>Just a step away...</h2>
        </div>


        <div class="text-right">
                <div class="btn-group ">
                    <a class="btn btn-success" asp-controller="Order" asp-action="PlaceOrder" asp-route-state="Order">Place Order</a>
                    <a class="btn btn-success" asp-controller="Order" asp-action="CancelOrder"  asp-route-order="@Model">Cancel Order</a>
                    <a class="btn btn-success" asp-controller="Order" asp-action="PayNow" asp-route-order="@Model" >Pay</a>
                </div>
         </div>
    </div>
