@model OrderViewModel
    <div class="row orderForm">

        <div class="row checkoutForm">
            <h2>Just 1 step away...</h2>
        </div>
        @{
            string  id = "null";
            if (Model != null)
            {
                id = Model.Order.OrderId;
            }
        }
        <div class="btn-block">
                <div class="btn-group-vertical">
                    <br /><a class="btn btn-success" asp-controller="Order" asp-action="AddToOrder" asp-route-state="Order">Place Order</a>
                    <br /><a class="btn btn-success" asp-controller="Order" asp-action="CancelOrder"  asp-route-orderid="@id">Cancel Order</a>
                    <br /><a class="btn btn-success" asp-controller="Order" asp-action="PayNow" asp-route-orderid="@id">Pay</a>
                </div>
         </div>
    </div>
